.pagination {
    margin: 20px 0;
    text-align: center;
    display: grid;
}

.step-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.step-links .current {
    margin: 0 5px;
    font-weight: bold;
}