{% extends "./base.html" %}
{% load static %}
{% block content %}
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/department.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <section class="page-title bg-1">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block text-center">
              <span class="text-white">Everything you need to know about</span>
              <h1 class="text-capitalize mb-5 text-lg">Yekatit-12 Hospital Medical College</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- =============== -->
<div id="Misson-section" class="section-title text-center">
<h2 class="mb-4">Mission Vision Value</h2>
<div class="divider mx-auto my-4"></div>
</div>
<section class="About-Mission">

<div class="grid-container">
<div class="grid-item">
  <div class="circle-icon mission">
    <img src="{% static 'images/about/mission.jpg' %}" alt="Mission Icon">
  </div>
  <h3>Mission</h3>
  <p>Creating healthy and productive community by ensuring accessible quality health services, producing competent 
    healthcare professionals, pursue innovative knowledge expanding research and community engagement</p>
</div>
<div class="grid-item">
  <div class="circle-icon vision">
    <img src="{% static 'images/about/vision.jpg' %}" alt="Vision Icon">
  </div>
  <h3>Vision</h3>
  <p>To be one of the premier university hospitals in Ethiopia recognized for excellence in medical and health science education, 
    health services and research by 2033</p>    </div>
<div class="grid-item">
  <div class="circle-icon values">
    <img src="{% static 'images/about/philo.jpg' %}" alt="Values Icon">
  </div>
  <h3>Philosophy</h3>
  <p>The peculiar features of Yekatit 12 Hospital Medical College are the teaching hospital serving broader curative services, the only speech therapy center at the country level, and system-oriented medical education.</p>
</div>
</div>

</section>
<!-- Values -->
<section id="Value" class="section awards">
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <h2 class="title-color">Core Values</h2>
            <div class="divider mt-4 mb-5 mb-lg-0"></div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="award-img">
                        <li><i class="fas fa-medal"></i> Excellence</li>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="award-img">
                        <li><i class="fas fa-user-secret"></i> Confidentiality</li>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="award-img">
                        <li><i class="fas fa-handshake"></i> Customer<br/> centeredness</li>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="award-img">
                        <li><i class="fas fa-users"></i> Teamwork</li>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="award-img">
                        <li><i class="fas fa-lightbulb"></i> Innovation</li>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="award-img">
                        <li><i class="fas fa-heart"></i> Compassionate</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>



<section class="section testimonial">
<video style="margin-left: 19rem; width: 1rem;" class="About-video" autoplay muted loop playsinline>
    <source src="{% static './video/short video.mp4' %}" type="video/mp4">
  </video>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
        
      <div class="section-title">
        <h2 class="mb-4">History About Us</h2>
        <div class="divider my-4"></div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-6 testimonial-wrap offset-lg-6">
      <div class="testimonial-block">
        <div class="client-info">
        </div>

        <p>
    Yekatit 12 Hospital, known as "Bethsaida" (meaning "house of sick people"), 
    was established in 1923 E.C. with the vision of promoting the health of 
    the Ethiopian people. Initially, the hospital had a capacity of twenty-five 
    (25) beds and a staff of thirty-five (35) health professionals, including a 
    Swedish physician, two expatriate foreign nurses, and thirty-two (32) 
    Ethiopian health professionals (two nurses and thirty health assistants).
        </p>
        <i class="icofont-quote-right"></i>
      </div>

      <div class="testimonial-block">
        <div class="client-info">
        </div>
        <p>
          Dr. Hanner, the Swedish physician, founded "Bethsaida" and served as the 
    first medical director until the Italian invasion.In 1928, the Italians 
    renamed the hospital Batoria Emanuel Hospital and took over its management. 
    Following the Italian evacuation, the British Red Cross Society managed the 
    hospital, with a focus on treating war victims. 
        </p>
        <i class="icofont-quote-right"></i>
      </div>

      <div class="testimonial-block">
        <div class="client-info">
        </div>
        <p>
    During this time, the hospital's admission capacity was expanded to 140 beds, 
    and it became a pioneer in modern health science education. The first nursing 
    school in Ethiopia graduated thirteen (13) batches of Red Cross dresser nurses 
    between 1949 and 1962 G.C.
        </p>
        <i class="icofont-quote-right"></i>
      </div>

      <div class="testimonial-block">
        <div class="client-info">
        </div>
        <p>
          In 1947, the hospital was chartered and managed by His Imperial Majesty Haile 
    Selassie Welfare Society for twenty years, known as Haile Selassie Hospital, 
    until the Derge regime in 1967. It was then renamed Yekatit 12 Hospital and 
    became one of the five referral hospitals under the Addis Ababa City Administration 
    Regional Health Bureau.
        </p>
        <i class="icofont-quote-right"></i>
      </div>

      <div class="testimonial-block">
        <div class="client-info">
        </div>
        <p>
    Yekatit 12 Hospital was designated as a hospital medical college by the City 
    Government of Addis Ababa in 2011 G.C. Recognizing the hospital's long-standing 
    service to the residents of Addis Ababa and considering its present status, the city
    administration decided to re-establish it as a center for training medical professionals, 
    integrated with medical health service delivery.
        </p>
        <i class="icofont-quote-right"></i>
      </div>

  <div class="testimonial-block">
    <div class="client-info">
    </div>
    <p>
      The college is dedicated to train medium and higher-level health professionals
      through a new method of training that combines theoretical knowledge with 
      practical application. Additionally, the hospital has been redesigned to 
      serve as a research center for the college, in addition to providing medical services.
    </p>
    <i class="icofont-quote-right"></i>
  </div>

  <div class="testimonial-block">
      <div class="client-info">
      </div>
      <p>
        Yekatit 12 Hospital Medical College is committed to delivering quality 
        healthcare services and producing competent health professionals. Currently, 
        the college offers both extension and regular programs in masters of general 
        public health, reproductive health, and healthcare quality.
      </p>
      <i class="icofont-quote-right"></i>
  </div>
  <div class="testimonial-block">
    <div class="client-info">
    </div>
    <p>
      It also offers residency programs in internal medicine, general surgery, pediatrics, 
      GYN/OBs, maxillofacial surgery, anesthesiology, emergency, critical care and pain
      management programs, as well as sub-specialty fellowship programs in feto-maternal 
      medicine and urogynecology.
    </p>
    <i class="icofont-quote-right"></i>
  </div>
  <div class="testimonial-block">
    <div class="client-info">
    </div>
    <p>
      The college has successfully graduated seven rounds of qualified and competent general 
      practitioners, three rounds of public health masters' graduates, second-round pediatricians 
      and internists, and the first round of residents in general surgery, OBs/GYN, and 
      cranio-maxillofacial surgery specialists since 2024 and started post basic degree 
      program in Neonatal nursing, comprehensive nursing, emergency and critical care 
      nursing and medical science laboratory 
    </p>
    <i class="icofont-quote-right"></i>
  </div>
  <div class="testimonial-block">
    <div class="client-info">
    </div>
    <p>
      A total of 219 academic staff members, ranging from lecturers to professors, are 
      actively involved in teaching, research, and community service in collaboration 
      with the college's principal stakeholders. A variety of healthcare professionals 
      and supportive staff members are dedicated to providing healthcare services to 
      the community in order to achieve the hospital medical college's mission, vision, and goals. 
    </p>
    <i class="icofont-quote-right"></i>
  </div>

    </div>
  </div>
</div>
</section>

<!-- Message -->
<section class="message">
<h2  class="mb-4">Provost Message</h2>

<div class="Message-container">
<div>
  <div class="section-title custom-provost-message">
    
    <div class="provost custom-provost-message">
      <img src="{% static './images/academics/provost.jpeg' %}" alt="Staff Image" />
  </div>
  </div>

</div>
<div class="second">
  <br>
  <h3 class="mb-4">Dr. Elias Tewabe</h3>
    <div class="divider my-4"></div>
    <div class="expandable-text">
      <p class="content">
        Dear visitors Welcome to Yekatit 12 hospital medical college website! I
        am honored to serve as the Provost of this exceptional institution, where
        we strive to nurture the next generation of healthcare professionals and
        advance medical knowledge through education, research, and compassionate
        patient care.Our vision for the period (2024-2033) is to become a premier
        university hospitals in Ethiopia recognized for excellence in medical and
        health science education, health service and research. Y12HMC has implemented system based medical education in all academic
        programs, enabling our students to gain system concepts in addition to the
        subject matter knowledge that prepare them to function better in a diverse
        and complex healthcare system.
      </p>
      <p class="full-text">
        Our recent achievement demonstrates that
        Y12HMC is starting to support health system by providing a competent
        professionals having profound knowledge on healthcare delivery. We have
        been in the healthcare business since 1923 and are proud of our
        achievements thus far. We currently deliver various specialty and
        subspecialty services at two campuses ( Yekatit 12 hospital medical
        college main campus and Abebech Gobena maternal and child health hospital)
        Y12HMC is expanding academic programs and service outlets. We have
        undergraduate medical education, post basic training in various nursing
        specialties, laboratory and pharmacy. We have eight residency and two
        fellowship programs. We have graduated 7 batches of medical doctors 2
        batches of specialist in internal medicine & pediatric and child health;
        first batch of general surgeons, obstetric and maxillofacial surgeons.
        These groups of graduate will make significant contribution in modifying
        the usual medical educations to system oriented approach in addition to
        their clinical service and leadership involvement. We have also graduated
        3 batches of master’s in public health. Y12HMC is a pioneer to graduate
        first batch of students on health care quality master’s program in the
        country. We are committed to finding ways to invest in programs, services,
        technology, and educational infrastructure to further enhance student
        graduation in line with national priorities. Patient care lies at the
        heart of our mission. We are dedicated to providing compassionate,
        evidence-based, and patient-centered care to all individuals who seek our
        services. Our hospital's team of skilled physicians, nurses, and
        healthcare professionals work in close collaboration with our Medical
        College, ensuring that our students are exposed to real-world clinical
        scenarios and the importance of ethical practice. Research is a vital
        component of our Medical College, as we strive to push the boundaries of
        medical knowledge and contribute to the advancement of healthcare. Our
        students and faculty engage in innovative research projects across various
        disciplines, addressing critical health challenges and exploring novel
        approaches to patient care. We encourage a culture of scientific inquiry
        and collaboration, empowering our students to become leaders in their
        respective fields. As the Provost, I am committed to fostering an
        inclusive and supportive learning environment that values diversity,
        promotes inter-professional collaboration, and upholds the highest ethical
        standards. We prioritize the well-being and professional growth of our
        students, recognizing that they are the future stewards of healthcare. I
        invite you to explore our website and learn more about our Medical
        College, its programs, faculty, and the exceptional opportunities it
        offers. Whether you are a prospective student, a healthcare professional
        seeking continuing education, or a member of the community interested in
        our medical services, we are here to serve you. Thank you for visiting our
        website, and I encourage you to reach out to us with any inquiries or to
        schedule a visit. We look forward to welcoming you to our Medical College
        and being a part of your journey towards a fulfilling and impactful
        medical career.
      </p>
      <span id="read-mores" class="read-mores" onclick="toggleExpand(this)">Read More</span>
    </div>
</div>
</div>
</section>



  <!-- motto -->
<section>
<div class="Motto-con">
<h1><i class="fas fa-quote-left">

</i> Advancing health, empowering minds
 <i class="fas fa-quote-right"></i></h1>
</div>
</section>

<script>
  const img = document.querySelector('.motto-container img');
  img.addEventListener('click', () => {
      alert('Image clicked!');
  });
</script>

<!-- team -->

<section class="section service-2">
<div class="section-title text-center">
<h2 id="leader" class="mb-4">Our Leadership Team</h2>
<div class="divider mx-auto my-4"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-5">
                <img src="{% static 'images/about/Elias.jpg' %}" alt="" class="img-fluid">
                <div class="content">
                    <h4 class="mt-4 mb-2 title-color">Dr. Elias Tewabe
          </h4>
                    <p class="mb-4">Y12HMC Provost</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-5">
                <img src="{% static 'images/about/merertu.jpg' %}" alt="" class="img-fluid">
                <div class="content">
                    <h4 class="mt-4 mb-2  title-color">Dr. Mereretu Temesgen
         </h4>
                    <p class="mb-4">Y12HMC Academic and Research Vice Provost</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-5">
                <img src="{% static 'images/about/Alemu.jpg' %}" alt="" class="img-fluid">
                <div class="content">
                    <h4 class="mt-4 mb-2 title-color">Ato Alemu Kibret</h4>
                    <p class="mb-4">Y12HMC Administrative and Developement Vice Provost</p>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-5 mb-lg-0">
                <img src="{% static 'images/about/anteneh.jpg' %}" alt="" class="img-fluid">
                <div class="content">
                    <h4 class="mt-4 mb-2 title-color">Dr. Anteneh Mitiku
        </h4>
                    <p class="mb-4">Y12HMC Medical Service Vice Provost</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-5 mb-lg-0">
                <img src="{% static 'images/about/Abyot.png' %}" alt="" class="img-fluid">
                <div class="content">
                    <h4 class="mt-4 mb-2 title-color">Dr Abyot Alemu </h4>
                    <p class="mb-4">Y12HMC provost Advisor</p>
                </div>
            </div>
        </div>

  <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-5 mb-lg-0">
                <img src="{% static 'images/about/Ananya.jpg' %}" alt="" class="img-fluid">
                <div class="content">
                    <h4 class="mt-4 mb-2 title-color">Dr. Ananya Solomon
        </h4>
                    <p class="mb-4">Abebech Gobena MCH Medical Director</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

  <!-- motto -->
<section class="second">
  <div  class="Motto-con">
    <h4><i class="fas fa-quote-left">

    </i class="para"> Yekatit 12 Hospital Medical College provides 
    comprehensive and high-quality healthcare services 
    in outpatient, inpatient, emergency, ICU,
    and operations, ensuring holistic care for the population.
     <i class="fas fa-quote-right"></i></h4>
</div>
</section>

  <!-- Add Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="{% static 'script.js' %}"></script>
<!-- /portfolio -->

{% endblock content %}