{% extends "./base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/department.css' %}" />
    <link rel="stylesheet" href="{% static 'css/doctors-swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
    <link rel="stylesheet" href="{% static 'css/paginator.css' %}">
    
    <!-- Add these lines to include Swiper.js -->

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/override.css' %}" />

      <!-- Main body  -->
      <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <h1 class="text-capitalize mb-5 text-lg">Yekatit-12 Hospital Medical College</h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document.querySelector(".announcement").style.opacity = "1";
        });
      </script>

        <!-- ==================================================================== -->
        <div id="Misson-section" class="section-title text-center">
          <h2 class="mb-4">Announcement</h2>
          <div class="divider mx-auto my-4"></div>
        </div>
<!--============ start container================== -->
        <div class="news-container">
          {% for content in content_list %}
              {% for announcement in content.announcement.all|dictsortreversed:"published_date"|dictsortreversed:"created_at" %}
                <div class="news-card">
                    <h3 class="news-title">{{ announcement.name }}</h3>
                    <!-- <img class src="{{ news.image.url }}" width="200" height="200"> -->
                    <p class="news-date">{{ announcement.published_date }}</p>
                    <p class="news-description">{{ announcement.description|truncatechars:130 }}</p>
                    <a href="{% url 'announcement_detail' announcement.slug %}">Read More</a>
                </div>
              {% endfor %}
          {% endfor %}  
        </div>

        <div class="pagination">
          <span class="step-links">
              {% if announcement_items.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ announcement_items.previous_page_number }}">previous</a>
              {% endif %}
        
              <span class="current">
                  Page {{ announcement_items.number }} of {{ announcement_items.paginator.num_pages }}.
              </span>
        
              {% if announcement_items.has_next %}
                  <a href="?page={{ announcement_items.next_page_number }}">next</a>
                  <a href="?page={{ announcement_items.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
        </div>
        <!-- ============ end container============================== -->

      <!-- Add Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="{% static 'script.js' %}"></script>
      <script src="{% static 'js/swiper.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/contact.js' %}"></script>

{% endblock content %}