{% extends "./base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/department.css' %}" />
<link rel="stylesheet" href="{% static 'css/doctors-swiper.css' %}">

    <section class="page-title bg-1 custom-page-title">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <h1 class="text-capitalize mb-5 text-lg">Library</h1>
              </div>
            </div>
          </div>
        </div>
    </section>
    {% for department in content_list %}

        {% if department.title ==  'Library' %}
            <section class="section department-single">
            <div class="container">
                <div class="row">
                <div class="col-lg-8">
                    <div  class="department-content mt-5">
                    <h2 class="mt-5 mb-4">{{ department.title }}</h2>
                    <div class="divider my-4"></div>
                    <p>
                        Welcome to the Library service at Yekatit 12 Hospital Medical College! Access a wide range of electronic resources including e-books, e-journals, research papers, and databases. Stay current with the latest medical and healthcare advancements, research methodologies, and evidence-based medicine. Our user-friendly interface and powerful search tools make navigation seamless.
                    </p>
                    <p>
                        Yekatit-12 Hospital Medical College offers a comprehensive library service that supports students, faculty, and researchers with access to a wide range of medical and scientific resources. The library provides both digital and physical materials, including textbooks, journals, and databases, ensuring a conducive environment for study and academic research.
                    </p>
                    <p> 
                        Our librarians provide guidance on effective searches and accessing full-text materials. The Digital Library is regularly updated to provide access to the most relevant and current resources.
                    </p>
                    <p>
                        Visit our website to explore the digital collection and stay informed about the latest services. Experience the convenience and benefits of our Digital Library at Yekatit 12 Hospital Medical College.                
                    </p>

                    <br><br>
                    <a
                        href="{% url 'page_view' page_slug='library' %}"
                        class="btn btn-main-2 btn-round-full"
                        >Library Service<i class="icofont-simple-right ml-2"></i
                    ></a>
                    </div>
                </div>

                <div class="col-lg-4">
                <div class="row">
                <div class="col-lg-12">
                    <div class="department-img">
                    <img src="{% static 'images/academics/library/library.png' %}" alt="" class="img-fluid" />
                    </div>
                </div>
                </div>
                    <div class="sidebar-widget schedule-widget mt-5">
                    <h5 class="mb-4">Time Schedule</h5>

                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                        <a href="#">Monday - Friday</a>
                        <span>8:30 am - 5:30 pm</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                        <a href="#">Saturday - Sunday</a>
                        <span>Closed</span>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </section>
            <!-- profile -->
            <section class="section clients">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                    <h2 class="deps-header">Staff Profile</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>
                        Summary of staff profile in {{ department.title }} department
                    </div>
                </div>
                </div>
            </div>
            </section>
            <!-- ========================================tesmonial============== -->
            <section class="mediacal-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                {% for profile in staff_profiles %}
                    <div class="swiper-slide">
                    <div class="testimonial-card">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" alt="{{ profile.name }}">
                    {% else %}
                        <img src="{% static 'default_images/default.png' %}" alt="Default Picture">
                    {% endif %}
                    <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                    <p>{{ profile.title }}</p>
                    </div>
                    </div>
                {% endfor %}
                
                <!-- Repeat this structure for each testimonial -->
                </div>
                <div class="testimonial-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            </section>
        {% endif %}
    
        {% if department.title ==  'Digital Library' %}
            <section class="section department-single">
            <div class="container">
                <div class="row">
                <div class="col-lg-8">
                    <div  class="department-content mt-5">
                    <h2 class="mt-5 mb-4">{{ department.title }}</h2>
                    <div class="divider my-4"></div>
                    <p>
                        Welcome to the Digital Library at Yekatit 12 Hospital Medical College! Access a wide range of electronic resources including e-books, e-journals, research papers, and databases. Stay current with the latest medical and healthcare advancements, research methodologies, and evidence-based medicine. Our user-friendly interface and powerful search tools make navigation seamless.
                    </p>
                    <p> 
                        Our librarians provide guidance on effective searches and accessing full-text materials. The Digital Library is regularly updated to provide access to the most relevant and current resources.
                    </p>
                    <p>
                        Visit our website to explore the digital collection and stay informed about the latest services. Experience the convenience and benefits of our Digital Library at Yekatit 12 Hospital Medical College.                
                    </p>

                    <br><br>
                    <a
                        href="{% url 'page_view' page_slug='library' %}"
                        class="btn btn-main-2 btn-round-full"
                        >Library Service<i class="icofont-simple-right ml-2"></i
                    ></a>
                    </div>
                </div>

                <div class="col-lg-4">
                <div class="row">
                <div class="col-lg-12">
                    <div class="department-img">
                    <img src="{% static 'images/academics/library/library.png' %}" alt="" class="img-fluid" />
                    </div>
                </div>
                </div>
                    <div class="sidebar-widget schedule-widget mt-5">
                    <h5 class="mb-4">Time Schedule</h5>

                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <a href="#">Monday - Sunday</a>
                            <span>24 hours</span>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </section>

        {% endif %}

        {% if department.title ==  'E-Books' %}
            <section class="section department-single">
            <div class="container">
                <div class="row">
                <div class="col-lg-8">
                    <div  class="department-content mt-5">
                    <h2 class="mt-5 mb-4">{{ department.title }}</h2>
                    <div class="divider my-4"></div>
                    <p>
                        The Digital Library at Yekatit 12 Hospital Medical College offers a diverse and extensive collection of e-books spanning various medical and healthcare disciplines. Accessible from anywhere, our e-books provide convenience and flexibility for your learning and research needs.
                    </p>
                    <p> 
                        With searchability, interactivity, and adjustable settings, our e-books offer an enhanced reading experience.
                    </p>
                    <p>
                        Visit our digital library website to explore the collection, search for specific topics, and access the latest publications.                
                    </p>
                    <p>
                        Our librarians are available to assist you and ensure you have access to the most current and relevant resources. Discover the convenience and wealth of knowledge offered by our e-books collection at Yekatit 12 Hospital Medical College's Digital Library.
                    </p>

                    <br><br>
                    <a
                        href="{% url 'page_view' page_slug='library' %}"
                        class="btn btn-main-2 btn-round-full"
                        >Library Service<i class="icofont-simple-right ml-2"></i
                    ></a>
                    </div>
                </div>

                <div class="col-lg-4">
                <div class="row">
                <div class="col-lg-12">
                    <div class="department-img">
                    <img src="{% static 'images/academics/library/Ebooks.webp' %}" alt="" class="img-fluid" />
                    </div>
                </div>
                </div>
                    <div class="sidebar-widget schedule-widget mt-5">
                    <h5 class="mb-4">Time Schedule</h5>

                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <a href="#">Monday - Sunday</a>
                            <span>24 hours</span>
                        </li>
                    </ul>

                    </div>
                </div>
                </div>
            </div>
            </section>
        {% endif %}

    {%endfor %}

      <!-- ==================================================================== -->
      <script src="plugins/jquery/jquery.js"></script>
      <!-- Bootstrap 4.3.2 -->
      <script src="plugins/bootstrap/js/popper.js"></script>
      <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="plugins/counterup/jquery.easing.js"></script>
      <!-- Slick Slider -->
      <script src="plugins/slick-carousel/slick/slick.min.js"></script>
      <!-- Counterup -->
      <script src="plugins/counterup/jquery.waypoints.min.js"></script>
  
      <script src="plugins/shuffle/shuffle.min.js"></script>
      <script src="plugins/counterup/jquery.counterup.min.js"></script>

      <!-- Add Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="{% static 'script.js' %}"></script>
      <script src="{% static 'js/swiper.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/contact.js' %}"></script>
{% endblock content %}